root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_size = 4
indent_style = space
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false
max_line_length = off

[*.{yml,yaml}]
indent_size = 2
max_line_length = off

[*.{json,xml}]
indent_size = 2
max_line_length = off

[*.{js,ts,jsx,tsx,vue}]
indent_size = 2
max_line_length = 100


[taskfile.yml]
indent_size = 2
max_line_length = off

[*.{Dockerfile,dockerfile}]
indent_size = 2
max_line_length = 120
