SECRET_KEY_FOR_SESSION_MIDDLEWARE=changeMeToASecureRandomString
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_AUTH_REDIRECT_URL=http://localhost:8080/auth/callback

DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/app
DATABASE_URL_SYNC=postgresql+psycopg2://postgres:postgres@db:5432/app

POSTGRES_PASSWORD=postgres
POSTGRES_USER=postgres
POSTGRES_DB=app

UV_LINK_MODE=copy

SENTRY_DSN=url_to_your_sentry_dsn_here

ELASTIC_PASSWORD=changeMe
KIBANA_SYSTEM_PASSWORD=changeMe
ELASTICSEARCH_SERVICEACCOUNTTOKEN=your_elasticsearch_service_account_token_here
ES_DISCOVERY_TYPE=single-node
ES_XPACK_SECURITY_ENABLED=false
ES_JAVA_OPTS=-Xms512m -Xmx512m
ELASTICSEARCH_HOSTS=http://elasticsearch:9200
ELASTICSEARCH_USERNAME=kibana_system
KIBANA_SERVER_NAME=kibana

OTEL_EXPORTER_OTLP_ENDPOINT=otel-collector:4317
OTEL_SERVICE_NAME=app
OTEL_SERVICE_VERSION=1.0.0
OTEL_SERVICE_NAMESPACE=myproj
OTEL_DEPLOYMENT_ENVIRONMENT=dev
OTEL_LOGS_EXPORTER=otlp
OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf

AWS_REGION=ap-northeast-1
AWS_DEFAULT_REGION=ap-northeast-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_ENDPOINT_URL=http://localstack:4566
SQS_QUEUE_NAME=async-queue
SQS_DLQ_NAME=async-queue-dlq

LOCALSTACK_SERVICES=sqs,s3
LOCALSTACK_EDGE_PORT=4566

LOKI_HOST=loki
LOKI_PORT=3100

TEMPO_HOST=tempo
TEMPO_PORT=4317

AWS_ACCOUNT_ID=123456789012
AWS_REGION=ap-northeast-1
AWS_PROFILE=default
AWS_ECR_ENV=dev
