name: Terraform Apply

on:
  push:
    branches:
      - main
    paths:
      - 'deploy/terraform/**'

permissions:
  id-token: write
  contents: read

jobs:
  terraform-apply:
    runs-on: ubuntu-latest
    environment: terraform-ci

    env:
      TF_WORK_DIR: deploy/terraform/stg

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.0

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::771623671665:role/terraform-ci-role
          aws-region: ap-northeast-1

      - name: Terraform Init
        working-directory: ${{ env.TF_WORK_DIR }}
        run: terraform init -input=false

      - name: Terraform Apply
        working-directory: ${{ env.TF_WORK_DIR }}
        run: terraform apply -input=false -auto-approve
